// Add custom font
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;

// Import bootstrap and fontawesome
@import "bootstrap";
@import "font-awesome";
@import "colors";
@import "mixins";

// Bootstrap Starter Template Styles
body {
  padding-top: 50px;
  background-color: $yellow;
  color: $blue-dark;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-weight: 600;
}

h2 {
	margin-bottom: 1em;
	line-height: 1.5em;
}
h5 {
	font-weight: 700;
}

.red {
	color: $red;
}

.white {
	color: $white;
}

.number {
	font-size: 1.2em;
}

.navbar-default {
	background-color: transparent;
 	border-color: transparent;

 	.navbar-nav>li>a {
 		color: $blue-dark;
 	}

 	.navbar-nav>.active>a,
 	.navbar-nav>.active>a:hover,
 	.navbar-nav>.active>a:focus {
 		color: $blue-dark;
 		background-color: transparent;
 		font-weight: 700;
 	}

 	.navbar-toggle {
 		border-color: $blue-dark;

 		.icon-bar {
 			background-color: $blue-dark;
 		}
 		&:hover {
	 		border-color: $blue-dark;
	 		background-color: $blue-dark;

	 		.icon-bar {
	 			background-color: $white;
	 		}
	 	}
	 	&:focus {
	 		background-color: $turquoise;
	 	}
 	}

 	@media (max-width: $screen-xs-max) {

	 	#navbar.collapse.navbar-collapse, 
	 	#navbar.collapsing.navbar-collapse {
	 		background-color: $blue-dark;
	 		color: $yellow;
	 		border-color: $blue-dark;

	 		.navbar-nav>li>a {
		 		color: $yellow;
		 	}

		 	.navbar-nav>.active>a,
		 	.navbar-nav>li>a:hover,
		 	.navbar-nav>li>a:focus {
		 		color: $red;
		 	}
		 	.navbar-nav>li>a:hover,
		 	.navbar-nav>li>a:focus {
		 		color: $turquoise;
		 	}
	 	}
	}

}

// logo div
.logo {
	background-image: url(../img/logo.png);
	@include image-2x("../img/logo@2x.png", 268px, 214px);
	width: 268px;
	height: 214px;
	margin: 0 auto;
}

.section {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}


.coins {
	margin: 0 auto;
	height: 250px;

	p {
		margin-top: 2em;
		font-weight: bold;
		font-size: 1.2em;
		width: 150%;
		margin-left: -25%;
	}

	@media (max-width: $screen-xs-max) {
		height: 220px;

		p {
			margin-top: 2em;
			font-weight: bold;
			font-size: 1em;
			width: 200%;
			margin-left: -40%;
		}
	}
}

.circle {
	display: inline-block;
	border-radius: 50%;
	width: 150px;
	height: 150px;

	@media (max-width: $screen-xs-max) {
		width: 75px;
		height: 75px;
	}
}

.circle-feature {
	display: inline-block;
}


// red div
.red-section {
	background-color: $red;
	color: $blue-dark;

	h2 {
		color: $white;
	}
}

// blue div
.blue-section {
	background-color: $blue-dark;
	color: $turquoise;

	h2 {
		color: $red;
	}

	.circle { 
		background-color: $turquoise;
		border: 5px $white solid;

		.btc {
			background: transparent url(../img/BTC.png) no-repeat 100% 50%;
			@include image-2x("../img/BTC@2x.png", 75px, 113px);
			width: 75px;
			height: 113px;
			margin: 10px auto;
			padding-left: 20px;

			@media (max-width: $screen-xs-max) {
				background: transparent url(../img/BTC@half.png) no-repeat 100% 50%;
				@include image-2x("../img/BTC.png", 38px, 57px);
				width: 38px;
				height: 57px;
				margin: 5px auto;
			}
		}

		.eth {
			background: transparent url(../img/ETH.png) no-repeat 50% 50%;
			@include image-2x("../img/ETH@2x.png", 70px, 110px);
			width: 79px;
			height: 110px;
			margin: 15px auto;

			@media (max-width: $screen-xs-max) {
				background: transparent url(../img/ETH@half.png) no-repeat 100% 50%;
				@include image-2x("../img/ETH.png", 38px, 57px);
				width: 38px;
				height: 57px;
				margin: 5px auto;
			}
		}
	}

	.arrows {
		display: inline-block;
		vertical-align:top;
		margin: 35px 20px;

		@media (max-width: $screen-xs-max) {
			margin: 15px 10px;
		}
	}
	.arrow-long {
		background: transparent url(../img/arrow-long.png) no-repeat 50% 50%;
		@include image-2x("../img/arrow-long@2x.png", 250px, 17px);
		width: 250px;
		height: 17px;
		margin-bottom: 20px;

		@media (max-width: $screen-xs-max) {
			background: transparent url(../img/arrow-long@half.png) no-repeat 50% 50%;
			@include image-2x("../img/arrow-long.png", 132px, 9px);
			width: 132px;
			height: 9px;
			margin-bottom: 10px;
		}
	}
	.arrow-short {
		background: transparent url(../img/arrow-short.png) no-repeat 50% 50%;
		@include image-2x("../img/arrow-short@2x.png", 210px, 17px);
		width: 210px;
		height: 17px;
		margin-bottom: 20px;
		margin-left: 25px;

		@media (max-width: $screen-xs-max) {
			background: transparent url(../img/arrow-long@half.png) no-repeat 50% 50%;
			@include image-2x("../img/arrow-long.png", 105px, 9px);
			width: 105px;
			height: 9px;
			margin-bottom: 10px;
			margin-left: 13px;
		}
	}
}


// gray div

.gray-section {
	background-color: $gray-light;
}

// blue-second div

.blue-second-section {
	background-color: $blue-dark;
	color: $yellow;

	.circle-target {
		background: transparent url(../img/circle-target.png) no-repeat 50% 50%;
		@include image-2x("../img/circle-target@2x.png", 203px, 200px);
		width: 203px;
		height: 200px;
	}

	.circle-screens {
		background: transparent url(../img/circle-screens.png) no-repeat 50% 50%;
		@include image-2x("../img/circle-screens@2x.png", 200px, 201px);
		width: 200px;
		height: 201px;
	}

	.circle-agnostic {
		background: transparent url(../img/circle-agnostic.png) no-repeat 50% 50%;
		@include image-2x("../img/circle-agnostic@2x.png", 201px, 200px);
		width: 201px;
		height: 200px;
	}

	.circle-feature-info {
		p {
			color: $turquoise;
			font-weight: 600;
			font-size: 1.2em;
		}
	}
}

// try div
.try-section {
	p.description {
		line-height: 1.5em;
		font-size: 1.5em;
		font-weight: 600;
		width: 90%;
	}
	.button-get-started {
		margin-top: 20px;
		background: transparent url(../img/button-get-started.png) no-repeat 50% 50%;
		@include image-2x("../img/button-get-started@2x.png", 179px, 45px);
		width: 179px;
		height: 45px;
	}

	.magic-wand {
		background: transparent url(../img/magic-wand.png) no-repeat 50% 50%;
		@include image-2x("../img/magic-wand@2x.png", 542px, 341px);
		width: 542px;
		height: 341px;
	}
}

// turqoise-section
.turquoise-section {
	background-color: $turquoise;

	h2 {
		color: $white;
	}
	p.description {
		line-height: 1.5em;
		font-size: 1.5em;
		font-weight: 600;
		width: 90%;
	}
	.coming-soon {
		background: transparent url(../img/coming-soon.png) no-repeat 50% 50%;
		@include image-2x("../img/coming-soon@2x.png", 348px, 111px);
		width: 348px;
		height: 111px;
		margin-top: 50px;
	}
}

// last blue section
.last-section {

	h2 {
		color: $blue-dark;
	}

	#email-signup {
		width: 350px;
		height: 34px;
		color: $blue-dark;
		font-weight: 600;
		margin: 0 auto;
		display: inline-block;
		border-radius: 0 0 0 0;
		border: 4px $blue-dark solid;

		@include placeholder {
		    color: $red;
		}
	}

	button.button-sign-up {
		background: transparent url(../img/button-sign-up.png) no-repeat 50% 50%;
		@include image-2x("../img/button-sign-up@2x.png", 128px, 45px);
		width: 128px;
		height: 45px;
		display: inline-block;
		border: 0;
		outline: 0;
		vertical-align: middle;
		margin-top: -1px;
		margin-left: -10px;
	}
}