&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #223765;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#223765&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;$blue-dark&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #13223c;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#13223c&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;$blue-darker&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #ffd600;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#ffd600&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;$yellow&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #3cb5b5;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#3cb5b5&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;$turquoise&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #e53b51;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#e53b51&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;$red&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #f2f2f2;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#f2f2f2&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;$gray-light&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #fff;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#fff&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;$white&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #000;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#000&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;$black&lt;/span&gt;
	&lt;/li&gt;

&lt;/ul&gt;